#root {
  max-width: 1280px;
  margin: 0 auto !important;
  padding: auto;
}


#heroSection{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('./assets/images/hero-background.jpg');
    background-size: cover;
    background-position: center;
}



