#root {
  /* max-width: 1280px; */
  margin: 0 auto !important;
  padding: auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}


#heroSection{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: 
    /* linear-gradient(to right, rgba(44, 62, 80, .7), rgba(52, 152, 219, 0.9)), */
    linear-gradient(
      to bottom,
      rgba(245, 255, 245, 0.75) 0%,
      rgba(70, 140, 90, 0.85) 100%
    ),

  /* linear-gradient(
    to bottom right,
    rgba(0, 50, 30, 0.9) 0%,
    rgba(20, 90, 50, 0.8) 50%,
    rgba(40, 120, 70, 0.6) 100%
  ), */

    url('./assets/images/hero-background.jpg');
    background-size: cover;
    background-position: center;
}

#heroSection:before{
  content: '';
  position: 'absolute';
  inset: 0;
  background: 'inherit';
  filter: 'blur(12px)';
}



